.hero-banner {
  display: flex;
  background-color: #042f4b;
  justify-content: space-between;
  padding-left: 70px;
  padding-top: 100px;
  padding-bottom: 30px;
  margin-bottom: 75px;
}

.hero-description {
  width: 560px;
  padding-top: 100px;

}
.hero-img {
  width: 600px;
  opacity: .9
}

.hero-text {
  margin-top: 20px;
  margin-bottom: 40px;
}
